/*Start Navigation*/



/*Start Header Video*/

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container to cover the viewport height */
  overflow: hidden; /* Hide overflow content */
  background-color: #000410;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%; /* Make the video container fill the container */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  top: 0;
  left: 0;
  z-index: -1;
}
/*Video h1*/
.businessName,.businessName2{
  position: relative;
  bottom: 7em;
  text-align: center;
  color: #fff;
  text-shadow: 5px 4px 9px #000;
  font-size: 5em;
}

/*End Header Video*/

.siteLogo {
top: 15em;
z-index: 1;
position: absolute;
margin: 0 auto;
left: 35%;
}